footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px 0;
    gap: 20px;
    flex-wrap: wrap;
}

footer p{
    margin: 0;
    font-weight: bold;
}

footer a{
    color: grey;
    font-size: 16px;
    margin: 0 10px;
    transition: colr 0.3s ease-in-out;
}
footer a:hover{
    color: blue;
}